<header>
  <nav class="teal lighten-2">
    <div class="nav-wrapper" id="myDIV">
      <a href="/" class="brand-logo">HEALTH MASTER</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn leftover-btn blue" href="">Emergency</a></li>
        <li><a class="menu active" href="">Doctors Nearby</a></li>
        <li><a class="menu" href="">My Diseases</a></li>
        <li><a class="menu" href="">My Symptoms</a></li>
      </ul>
    </div>
  </nav>
</header>
