<div class="main-container" align="center">
    <div class="container">
      <img id="logo" src="logo.png" class="responsive">
        <div class="container">
            <form method="post" action="/login" class="center">
                <div class="form-group">
                    <label>QUERY</label>
                    <input type="text" class="form-control" name="query" placeholder="Query" required>
                </div>
                <br>
                <button type="submit" class="btn pink waves-effect waves-dark">Go!</button>
            </form>
        </div>
        <br>
    </div>
</div>
